@import "partials/fonts";

$background : #151718;
$borderColor: rgba(255 , 255 , 255 , 0.1);
$textColor: rgba(255 , 255 , 255 , 0.8);
$blueColor: #8746EB;

html , body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $background;
  color: #fff;
}

p {
  color: $textColor;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.35s;
}

img {
  max-width: 100%;
}

.container {
  @media(min-width: 1200px){
    max-width: 1000px !important;
  }
}

.mainHeader {
  .container {
    padding: 15px 0;
    border-bottom: 1px solid $borderColor;
    @media(max-width: 575px){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.logo {
  img {
    max-width: 70px;
  }
}



.navMenu {
  li {
    margin: 0 15px;
    a {
      color: $textColor;
      i {
        margin-left: 8px;
        font-size: 13px;
      }
    }
  }
}

.mobileMenu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 100;
  color: #000 !important;
  transition: all 0.5s;
  a {
    color: #000 !important;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}
.menuLayer {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0 , 0, 0, 0.7);
  backdrop-filter: blur(4px);
  transition: all 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mainButton1 {
  padding: 5px 15px;
  border: 1px solid $borderColor;
  border-radius: 6px;
  cursor: url("../img/cursor.png") , pointer;
  &:hover {
    background-color: $borderColor;
  }
  i {
    margin-left: 8px;
  }
}

.mainButton2 {
  padding: 5px 15px;
  border: 1px solid $borderColor;
  background-color: $blueColor;
  border-radius: 6px;
  cursor: url("../img/cursor.png") , pointer;
  &:hover {
    background-color: #fff;
    color: $blueColor;
  }
  i {
    margin-left: 8px;
  }
}

.homePage1 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  .whiteLabel {
    background: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    color: #000;
    max-width: 400px;
    margin: auto;
    font-weight: bold;
    display: flex;
    min-width: 412px;
    align-items: center;
    @media(max-width: 767px){
      min-width: unset;
    }
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #000;
      border-radius: 50%;
      display: inline-block;
      margin-left: 10px;
      min-width: 20px;
    }
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 30px;
  background: linear-gradient( to left , #6E56CF , #F9D1FF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media(max-width: 767px){
    font-size: 40px;
  }
}

.logoCarousel {
  padding: 3rem 0;
}

.logoSlider {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background: linear-gradient(to left , #151718 , transparent);
    z-index: 2;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background: linear-gradient(to right , #151718 , transparent);
    z-index: 2;
    pointer-events: none;
  }
}

.section4 {
  max-width: 1120px;
  margin: auto;
  @media(max-width: 1200px){
    max-width: 1000px;
  }
  @media(max-width: 1024px){
    max-width: 900px;
  }
  @media(max-width: 991px){
    padding-right: 15px;
    padding-left: 15px;
  }
  .flex-container {
    display: flex;
    @media(max-width: 991px){
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .leftBox {
      flex: 0 0 45%;
      padding-right: 20px;
    }
    .rightBox {
      flex: 0 0 55%;
      padding-left: 20px;
      @media(max-width: 991px){
        padding-left: 0;
      }
    }
  }
}

.cards {
  position: relative;
  padding: 5rem 0;
  .swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-slide {
    opacity: 0.2;
  }

  .cardItem {
    display: flex;
    border: 1px solid $borderColor;
    border-radius: 16px;
    @media(max-width: 991px){
      flex-direction: column;
    }
    .left {
      flex: 0 0 40%;
      text-align: center;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-right: 1px solid $borderColor;
      position: relative;
      overflow: hidden;
      @media(max-width: 991px){
        min-height: 237px;
        border-right: 0;
        border-bottom: 1px solid $borderColor;
      }
      .socialMedia {
        display: flex;
        justify-content: center;
        .item {
          flex: 0 0 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #1D58C0;
          margin: 2px 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            transform: scale(1.1) translate(0 , -5px);
          }
        }
      }

      .title {
        text-transform: uppercase;
        color: $textColor;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: 3px;
      }

      & > * {
        z-index: 1;
      }

      .ellipse {
        height: 218px;
        position: absolute;
        background: radial-gradient(#1d58c0, #151718, transparent);
        width: 152%;
        left: -43%;
        top: -62px;
        border-radius: 50%;
        z-index: 0;
        opacity: 0.5;
      }

      .button {
        background: #fff;
        border-radius: 25px;
        padding: 10px 20px;
        text-align: center;
        color: #000;
        display: flex;
        align-items: center;
        &:hover {
          i {
            transform: translate(5px , 0);
          }
        }
        i {
          width: 20px;
          height: 20px;
          background: #000;
          border-radius: 50%;
          margin-left: 7px;
          vertical-align: middle;
          color: #fff;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.35s;
        }
      }
    }
    .right {
      flex: 0 0 60%;
      padding: 40px;
      @media(max-width: 991px){
        text-align: center;
      }
    }
  }
}

//#leftBox {
//  position: relative;
//  left: -100%;
//  transition: left 0.65s;
//}
//
//#rightBox {
//  position: relative;
//  right: -100%;
//  transition: right 0.65s;
//}

#video {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 100px;
  transition: all 0.5s;
}
